/*--------------------------------------------------------
------------- DIANSLEY FERNANDES DE LIMA -----------------
----------------------------------------------------------
------------------- ESTRUTURA BASE -----------------------
----------------------------------------------------------

**** DECLARAÇÃO DE VARIÁVEIS
**** ESTILOS GERAIS
**** BODY
**** HEADER
**** PÁGINA INICIAL
**** FOOTER
**** EXTRAS
**** @MEDIA


----------------------------------------------------------
------------------DECLARAÇÃO VARIÁVEIS--------------------
----------------------------------------------------------
 */

:root {
    --variavel: #AAA;
}


/* 
----------------------------------------------------------
---------------------ESTILOS GERAIS-----------------------
---------------------------------------------------------- 
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: open-sans;
}

@font-face {
    font-family: open-sans;
    src: url('../fonts/open-sans-regular.ttf');
}

.clear {
    clear: both;
}


/* 
----------------------------------------------------------
--------------------------BODY----------------------------
---------------------------------------------------------- 
*/

html, body {
    height: 100%;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}



/* 
----------------------------------------------------------
-------------------------HEADER---------------------------
---------------------------------------------------------- 
*/

header {
    width: 100%;
    height: 90vh;
    min-height: 800px;
    padding: 40px 2%;
    background-size: cover;
    background-position: center;
    background-image: url('../img/capa.png');
}

header .logo {
    width: 160px;
    height: 40px;
    background-color: #ccc;
    float: left;
}

header nav {
    float: right;
}

header nav.mobile-menu {
    display: none;
    width: 32px;
    height: 32px;
    background-image: url(../img/menu.png);
    background-size: 100% 100%;
    cursor: pointer;
}

header nav.mobile-menu:hover ul {
    display: inline-block;
    text-align: center;
    margin-left: 2%;
    margin-right: 2%;
    opacity: 1;
    transition: 1s;
}

header nav.mobile-menu ul {
    opacity: 0;
    position: absolute;
    width: 30%;
    min-width: 150px;
    right: 0;
    top: 75px;
    list-style-type: none;
    text-align: left;
}

header nav.mobile-menu ul li {
    border: 1px solid white;
    border-radius: 20px;
    background-color: #472562;
    padding: 8px 0;
    transition: 0.4s;
}

header nav.mobile-menu ul li:hover {
    background-color: #391855;
}

header nav.mobile-menu ul li a {
    text-decoration: none;
    color: white;
}

header nav.desktop-menu ul {
    list-style-type: none;
}

header nav.desktop-menu ul li {
    float: left;
    padding: 0 15px;
}

header nav.desktop-menu ul li a {
    color: white;
    text-decoration: none;
}

.chamada1 {
    max-width: 600px;
    float: right;
    margin: 280px 110px;
}

.chamada1 h2 {
    font-size: 40px;
    color: white;
    font-weight: normal;
}

.chamada1 p {
    font-size: 15px;
    color: white;
    margin-top: 10px;
}


/* 
----------------------------------------------------------
---------------------PÁGINA INICIAL-----------------------
---------------------------------------------------------- 
*/

section.sessao1 {
    width: 100%;
    background-color: #472562;
    padding: 0px 2%;
    height: 400px;
}

section.sessao1 .container {
    max-width: 1000px;
    height: calc(100% + 30px);
}

.texto-sessao1 {
    width: 50%;
    float: left;
    color: white;
    margin-top: 60px;
    padding-left: 80px;
    position: relative;
    left: 60px;
}

.texto-sessao1 h2 {
    font-size: 25px;
}

.texto-sessao1 p {
    font-size: 14px;
    margin-top: 10px;
}

.texto-sessao1 ul {
    margin-top: 10px;
    font-size: 15px;
}

.texto-sessao1 ul li {
    list-style-type: disc;
    list-style-position: inside;
    float: left;
    width: 100%;
    margin-top: 8px;
}

.texto-sessao1 .btn-texto1 {
    background-color: #ff703d;
    color: white;
    width: 165px;
    height: 44px;
    cursor: pointer;
    margin-top: 30px;
    border-radius:30px;
    text-align: center;
    line-height: 44px;
    font-size: 14px;
}

.texto-sessao1 .btn-texto1:hover {
    background-color: #e95119;
}

.device-sessao1 {
    float: left;
    width: 50%;
    height: 455px;
    position: relative;
    top: -55px;
    background-image: url('../img/device.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

section.sessao2 {
    padding-left: 2%;
    padding-right: 2%;
    background-color: white;
    text-align: center;
}

section.sessao2 .container {
    max-width: 1000px;
}

section.sessao2 h2 {
    color: #472663
}

section.sessao2 p {
    margin-top: 30px;
    max-width: 900px;
    display: inline-block;
    color: #472663
}

section.sessao2 img {
    width: 70%;
    margin-top: 10px;
    position: relative;
    top: 100px;
}

section.sessao3 {
    width: 100%;
    height: auto;
}

section.sessao3 .parte1 {
    color: white;
    float: left;
    width: 50%;
    padding: 140px 0 90px 0;
    background-color: #835FA7;
}

section.sessao3 .parte1 .wraper-parte1{
    max-width: 600px;
    float: right;
    padding: 0 30px;
}

section.sessao3 .parte1 h2 {
    font-style: italic;
    font-size: 23px;
}

section.sessao3 .parte1 p {
    font-size: 15px;
    line-height: 35px;
    margin-top: 16px;
}

section.sessao3 .parte2 {
    float: left;
    width: 50%;
    padding: 140px 0 90px 0;
    background-color: rgb(241, 241, 241);
}

section.sessao3 .parte2 .sobre-autor {
    float: left;
    max-width: 600px;
    padding-left: 30px;
}

section.sessao3 .parte2 .sobre-autor .titulo-autor {
    float: left;
    width: 100%;
}

section.sessao3 .parte2 .sobre-autor .titulo-autor .wraper-titulo-autor {
    float: left;
}

section.sessao3 .parte2 .sobre-autor .titulo-autor h2 {
    padding-right: 20px;
    font-size: 25px;
    color: #232323;
}

section.sessao3 .parte2 .sobre-autor .titulo-autor p {
    font-size: 15px;
    font-style: italic;
    color: #232323;
}

section.sessao3 .parte2 .sobre-autor .titulo-autor .img-autor {
    position: relative;
    float: left;
    top: -5px;
    width: 60px;
    height: 60px;
    background-image: url('../img/perfil.jpg');
    border-radius: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

section.sessao3 .parte2 .sobre-autor .texto-autor {
    float: left;
    width: 100%;
    margin-top: 20px;
}

section.sessao3 .parte2 .sobre-autor .texto-autor p {
    color: #232323;
    font-size: 15px;
}

section.sessao3 .parte2 .slider-bullets {
    width: 100%;
    float: left;
    margin-top: 30px;
    padding-left: 30px;
}

section.sessao3 .parte2 .slider-bullets span {
    float: left;
    width: 16px;
    height: 16px;
    border-radius: 8px;
    margin-right: 8px;
    background-color: #ccc;
    cursor: pointer;
}

section.sessao3 .parte2 .slider-bullets span:hover {
    background-color: rgb(126, 126, 126);
}

section.sessao4 {
    background-color: #472563;
    padding: 100px 0;
}

section.sessao4 .form {
    color: white;
    float: left;
    width: 50%;
}

section.sessao4 .form h2 {
    font-size: 23px;
}

section.sessao4 .form p {
    font-size: 15px;
    max-width: 400px;
}

section.sessao4 .form form{
    margin-top: 15px;
}

section.sessao4 .form input[type=text] {
    width: 100%;
    max-width: 480px;
    height: 58px;
    margin-top: 8px;
    padding-left: 8px;
    line-height: 58px;
    border: 1px solid rgb(200,200,200);
}

section.sessao4 .form input[type=email] {
    width: 100%;
    max-width: 480px;
    height: 58px;
    margin-top: 8px;
    padding-left: 8px;
    line-height: 58px;
    border: 1px solid rgb(200,200,200);
}


section.sessao4 .form textarea {
    width: 100%;
    max-width: 480px;
    height: 160px;
    margin-top: 8px;
    padding: 15px;
    line-height: 58px;
    border: 1px solid rgb(200,200,200);
}

section.sessao4 .form input[type=submit] {
    background-color: #ff703d;
    color: white;
    width: 165px;
    height: 44px;
    cursor: pointer;
    margin-top: 15px;
    border-radius:30px;
    font-size: 14px;
    border: 0;
}

section.sessao4 .form input[type=submit]:hover {
    background-color: #e95119;
}





/* 
----------------------------------------------------------
-------------------------FOOTER---------------------------
---------------------------------------------------------- 
*/



/* 
----------------------------------------------------------
-------------------------EXTRAS---------------------------
---------------------------------------------------------- 
*/



/* 
----------------------------------------------------------
-------------------------@MEDIA---------------------------
---------------------------------------------------------- 
*/


@media screen and (max-width: 900px) {

    section.sessao3 .parte2 .sobre-autor {
        align-items: center;
    }
    
    section.sessao3 .parte2 .sobre-autor .titulo-autor h2 {
        padding-right: 20px;
        font-size: 20px;
    }
    
    section.sessao3 .parte2 .sobre-autor .titulo-autor p {
        font-size: 14px;
    }

    section.sessao3 .parte2 .sobre-autor .titulo-autor .img-autor {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    
    section.sessao3 .parte2 .sobre-autor .texto-autor {
        margin-top: 10px;
    }
    
    section.sessao3 .parte2 .sobre-autor .texto-autor p {
        font-size: 14px;
    }

}


@media screen and (max-width: 840px) {

    .chamada1 {
        max-width: none;
        width: 100%;
        float: none;
        text-align: center;
        margin: 170px 0;
    }

    .chamada1 h2 {
        font-size: 25px;
        padding: 0 10px;
    }

    .chamada1 p {
        margin-top: 25px;
        font-size: 14px;
        padding: 0 10px;
        max-width: 400px;
        display: inline-block;
    }

}


@media screen and (max-width: 768px) {

    header {
        width: 100%;
        height: auto;
        min-height: 60vh;
        padding: 40px 2%;
    }

    header nav.desktop-menu {
        display: none;
    }

    header nav.mobile-menu {
        display: block;
    }

    section.sessao1 {
       padding: 40px 2%;
       height: auto;
       text-align: center;
    }

    .texto-sessao1 {
        width: 100%;
        margin-top: 0;
        padding-left: 0;
        position: static;
        float: none;
        display: inline-block;
    }

    .texto-sessao1 ul {
        display: inline-block;
        margin-top: 20px;
    }

    .texto-sessao1 ul li {
        float: none;
        text-align: left;
    }

    .texto-sessao1 .btn-texto1 {
        display: inline-block;
    }
    
    .device-sessao1 {
        display: none;
    }

    section.sessao2 {
        padding-top: 40px;
    }

    section.sessao3 .parte2 .sobre-autor .titulo-autor .img-autor {
        margin-top: 5px;
    }

}


@media screen and (max-width: 580px) {

    section.sessao2 img {
        top: 30px;
        margin-top: 10px;
    }
    
    section.sessao3 .parte1 {
        width: 100%;
        padding: 40px 0;
    }
    
    section.sessao3 .parte2 {
        width: 100%;
        padding: 40px 0;
    }

}